In [38]:
import pandas as pd
excel_df=pd.read_excel("user_data.xlsx")
excel_df=excel_df.append({
    "test":"como"
}, ignore_index=True)
excel_df.to_excel("user_data.xlsx")
excel_df
#excel_df = excel_df.fillna("")
#excel_s = pd.Series(excel_df.values.flatten())
#user=excel_s[excel_s[:].str.contains("Users")]
#user.index
#excel_s.loc("Users")

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,test
0,0.0,0.0,0.0,0.0,0.0,hello
1,1.0,1.0,1.0,1.0,NaN,como
2,2.0,2.0,2.0,NaN,NaN,como
3,3.0,3.0,NaN,NaN,NaN,como
4,4.0,NaN,NaN,NaN,NaN,como
5,NaN,NaN,NaN,NaN,NaN,como

In [ ]:
#excel_df.iloc[8:13 , 12:13]
#excel_df.loc[excel_df[:]=="Users"]
#excel_df

In [4]:
df=pd.DataFrame({
    "test":["hello"]
})
df.to_excel("user_data.xlsx")